@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
::-webkit-scrollbar {
  width: 7px;
  background-color: gray;
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
}
a {
  color: black !important;
}
.brand-logo,
h2,
.create-post-text {
  font-family: "Grand Hotel", cursive;
}
.create-post-text {
  font-size: xx-large;
}
.mycard {
  margin-top: -10px;
  padding-top: 10px;
}

.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 60px auto !important;
}

.input-field input[type="text"]:focus {
  border-bottom: 1px solid rgb(0, 100, 194) !important;
  box-shadow: 0 1px 0 0 rgb(0, 100, 194) !important;
}
.sign-input,
.create-input {
  color: black !important;
}

.input-field input[type="password"]:focus {
  border-bottom: 1px solid rgb(0, 100, 194) !important;
  box-shadow: 0 1px 0 0 rgb(0, 100, 194) !important;
}
input[type="text"],
textarea {
  color: #d1d1d1;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item {
  width: 30%;
  margin-top: 2%;
  object-fit: cover;
}

#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}
.profile-pic {
  float: left !important;
  display: block;
  margin-left: 10px !important;
}
.modal {
  width: 25vw;
}

div.profile-image {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
}
.img-responsive {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.sidenav {
  width: 40vw;
  display: flex !important;
  flex-direction: column !important;
}
.sidenav li > a {
  padding: 0px 10px !important;
}

@media only screen and (max-width: 600px) {
  .img-responsive {
    display: block;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
  }
  .sidenav-trigger i {
    margin-left: -15px;
  }

  .modal-trigger {
    display: inline-block !important;
    padding: 20px;
  }
  .modal {
    width: 80vw !important;
  }

  video {
    min-height: 100vh;
  }
}

div.profile-image span {
  display: none;
  border-radius: 4px;
  text-align: center;
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 7px;
}

div.profile-image:hover span {
  display: block;
  padding: 1px;
}

div.profile-image span:hover {
  z-index: 10;
  transform: scale(1.09);
  transition-timing-function: ease-in-out;
  transition: 0.2s;
  cursor: pointer;
}

div.profile-image input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  overflow: hidden;
  width: 0.1px;
  height: 0.1px;
}
div.profile-image label {
  color: white;
  background-color: rgb(0, 128, 248);
  padding: 0px 15px 3px 15px;
  margin: 1px;
  font-size: 15px;
  border-radius: 40px 0px;
  cursor: pointer;
}

.home-card {
  max-width: 614px !important;
  min-width: 270px !important;
  margin: 10px auto !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #1b262c !important;
  color: white !important;
}
.home-card > h5 {
  background-color: #1b262c !important;
}

.card-content {
  overflow: auto;
  max-height: 40vh;
  transition: color 0.3s;
  overflow-x: hidden;
}
.card-content:hover {
  overflow-y: auto;
}

.card-content::-webkit-scrollbar {
  background-color: transparent;
  width: 15px;
}
.card-content::-webkit-scrollbar:hover {
  width: 20px;
}

.card-content::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 4px solid transparent;
  border-radius: 7px;
  background-color: gray;
}

.nav-wrapper {
  background-color: #222831 !important;
  text-decoration-color: white !important;
  width: 100%;
  padding-left: 10px;
}
a {
  color: white !important;
}

.player {
  position: absolute;
  top: 0px;
}
.email {
  text-transform: lowercase;
}
body {
  -webkit-tap-highlight-color: transparent;
}
.item-body {
  background-color: #1b262c !important;
}

.heart {
  width: 90px;
  height: 90px;
  object-fit: cover;
  transform: translate(-50%, -50%);
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
  display: inline-block;
  margin: 5px;
  padding: 0px;
  border: 0px;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
}
.sidenav {
  background-color: #222831 !important;
  margin-top: 7vh;
}

.avatar {
  background-color: #222831 !important;
}
.collection {
  display: flex;
  flex-direction: column;
}

.collection,
.modal {
  background-color: #222831 !important;
}
.modal-content > .email {
  color: white !important;
}
.collection > li > span,
p {
  background-color: #222831 !important;
}

.sidenav .logout {
  margin: 20px 10%;
}
.logout {
  margin-left: 10px !important ;
  margin-right: -20px !important;
}
body {
  background-color: #99b898 !important;
}
/* .home {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.custom-card {
  width: 30vw;
} */
/* gallery view */
